/*
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;*/


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    letter-spacing: .05em;
    color: #000; 
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
    
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

button:active, button:focus {outline: none;}
input:active, input:focus {outline: none;}
textarea:active, textarea:focus {outline: none;}

/* Container */
.container {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px 0;
}

/*HEADER
=====================================*/
.header {
    padding-top: 60px;
    
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    
    font-size: 16px;
    color: #fff;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin-left: 27px;
    
    text-decoration: none;
    color: inherit;
}

.nav__button {
    display: none;
    
    padding: 16px 28px;
    border: 0;
    
    background-color: #ffd439;
    
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

/*INTRO
=====================================*/
.intro {
    padding: 222px 0 172px;
    
    background: #a08675 url(img/intro.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    margin-left: 85px;
}

.intro__title {
    margin-bottom: 13px;
    
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    letter-spacing: inherit;
}

.intro__subtitle {
    margin-bottom: 44px;
    
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.05em;
}

.intro__button {
    padding: 16px 83px;
    border: 0;
    
    background-color: #ffd439;
    
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/*SECTION1
====================*/
.section1 {
    position: relative;
    
    overflow: hidden;
}

.section1__rose {
    position: absolute;
    
    width: 75%;
    right: -25%;
    top: 19%;
    z-index: 2;
}

.section1__blue {
    position: absolute;
    
    width: 75%;
    left: -15%;
    bottom: 15%;
    z-index: 2;
}

/*INTRODUCTION
====================*/

.introduction {
    padding: 70px 264px 70px;
    
    background-color: #ffd439;
    
    letter-spacing: .05em;
    line-height: 1.5;
    font-weight: 500;
    font-size: 27px;
    
    position: relative;
    z-index: 1;
}

/*questions
====================*/

.questions {
    background-color: #fffae8;
}

.questions__inner {
    padding: 73px 0;
}

.questions__question {
    padding: 27px 50px 34px;
    
    width: 75%;
    
    border: 2px solid #0707a3;
    box-shadow: 7.5px 12.99px 2.85px 0.15px rgba(0, 0, 0, 0.02);
}

.question-2 {
    margin: 74px 0 74px auto;
    
    z-index: 3;
    position: relative;
    background-color: #fffae8;
}

.question-3 {
    z-index: 3;
    position: relative;
    background-color: #fffae8;
}

.questions__title {
    margin-left: 32px;
    
    font-size: 27px;
    font-weight: 500;
    font-family: 'Lora', serif;
}

.questions__text {
    margin-top: 28px;
    
    font-size: 18px;
    font-weight: 500;
}

/*didyouknow
====================*/
.didyouknow {
    padding: 164px 0 100px;
    
    background-color: #ffd439;
}

.didyouknow__title {
    text-align: center;
    margin-bottom: 95px;
    
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60px;
}

.didyouknow__colums {
    display: flex;
    justify-content: space-between;
}

.didyouknow__col {
    padding: 20px;
    
    width: 31%;
    
    background-color: #fffae8;
    border: 2px solid #0707a3;
    
    text-align: center;
    
    display: flex;
    align-items: center;
    
    font-size: 27px;
    font-weight: 500;
}

/*AUTHOR
====================*/

.author {

    padding: 54px 0 50px;
    position: relative;
    z-index: 10;

    background-color: #fff9e5; 
}

.author__title {
    text-align: center;

    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.author__body {
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    max-width: 920px;
}

.author__photo {
    margin-top: 88px;

    border: 4px solid #0707a3;
    background-color: #fff9e5; 
    box-shadow: 7.5px 12.99px 2.85px 0.15px rgba(0, 0, 0, 0.02);
    z-index: 100;
    
    height: 100%;
}

.author__about {
    margin-top: 137px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 368px;
    height: 454px;

    border: 4px solid #0707a3;
    background-color: #fff9e5; 
    box-shadow: 7.5px 12.99px 2.85px 0.15px rgba(0, 0, 0, 0.02);
    z-index: 100;

    text-align: center;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 27px;
    font-weight: 500;
}

.author__quote {
    margin-top: 73px;
   
    padding: 15px 17px 0;

    width: 63%;
    height: 240px;

    border: 4px solid #0707a3;
    background-color: #fff9e5; 
    box-shadow: 7.5px 12.99px 2.85px 0.15px rgba(0, 0, 0, 0.02);
    z-index: 100;

    position: relative;
    left: 7%;
    z-index: 100;

    text-align: center;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 27px;
    font-weight: 500;
}

/*YOU WILL STUDY
====================*/
.youwillstudy {
    padding: 70px 0;
    
    background: url(img/youwillstudy.jpg) center no-repeat;
    background-size: cover;
}

.youwillstudy__title {
    font-weight: 400;
    font-size: 60px;
    font-family: 'Lora', serif;
    color: #fffae8;
    text-align: center;
}

.youwillstudy__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.youwillstudy__col {
    margin: 50px;
    padding: 10px 5px;
    
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.3);
    
    outline: 2px solid #ffd439; 
    outline-offset: 20px;
    
    font-weight: 500;
    font-size: 24px;
}

.youwillstudy__col:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.youwillstudy__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.youwillstudy__bottom {
    margin: 0 100px;
    
    font-size: 27px;
    color: #fffae8;
    text-align: center;
}

/*What we wait
====================*/
.section2 {
    position: relative;
    overflow: hidden;
}

.whatwewait__spot1 {
    position: absolute;
    top: 7%;
    left: -22%;
    transform: rotate(-18deg);
    width: 70%;
}

.whatwewait__spot2 {
    position: absolute;
    bottom: 25%;
    right: -9%;
    width: 70%;
}

.whatwewait {
    padding: 75px 0 95px;
    background-color: #e97d3c;
    text-align: center;
}

.whatwewait__inner {
    position: relative;
    z-index: 10;
}

.whatwewait__title {
    padding-bottom: 67px;
    
    font-size: 60px;
    font-weight: 500;
    font-family: 'Lora', serif;
}

.whatwewait__subtitle {
    margin-bottom: 72px;
    
    font-weight: 500;
    font-size: 40px;
    color: #555d52;
}

.whatwewait__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.whatwewait_section {
    margin-bottom: 75px;
    display: flex;
    width: 31%;
}

.whatwewait__number {
    width: 80px;
    height: 80px;
    
    color: #555d52;
    font-size: 60px;
    font-weight: 400;
}

.section3 {
    
} 

.section4 {
    flex-direction: row-reverse;
    align-items: flex-end;
}

.section5 {
    flex-direction: row-reverse;
    align-items: flex-end;
}

.section6 {
    flex-direction: row-reverse;
    align-items: flex-end;
}

.number1 {
    border-top: 2px solid #555d52;
}

.number2 {
    border-top: 2px solid #555d52;
}

.number3 {
    border-top: 2px solid #555d52;
}

.number4 {
    border-bottom: 2px solid #555d52;
}

.number5 {
    border-bottom: 2px solid #555d52;
}

.number6 {
    border-bottom: 2px solid #555d52;
}

.whatwewait__col {
    padding: 10px 5px;
    
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
        
    border: 2px solid #555d52;
    background-color: #f3dfc6;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.whatwewait__col:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.whatwewait__bottom {
    margin: 0 auto;
    padding: 28px 18px;
    
    width: 39%;
    
    border: 2px solid #555d52;
    background-color: #f3dfc6;
    
    font-weight: 500;
    font-size: 27px;    
}

/*BLACK INSERT
====================*/
.black__insert {
    padding: 110px 0 126px;
    
    background: #000 url(img/black.jpg) center no-repeat;
    background-size: cover;

    
}

.black__inner {
    
    display: flex;
    justify-content: space-between;
}

.black__box {
    padding: 42pz 12px 47px;
    
    position: relative;
    width: 29%;
    text-align: center;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.3);
    
    outline: 2px solid #ffd439; 
    outline-offset: 20px;
}

.black__pic {
    margin: 30px 0 5px;
}

.black__title {
    margin-bottom: 23px;
    
    font-family: 'Lora', serif;
    font-size: 27px;
    letter-spacing: 0;
}

.black__text {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 1.5;
}

/*OPEN course
===============================*/

.open__course {
    background-color: #fffae8;
}

.open__inner {
    padding: 163px 0 25px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: -72px;
    width: 1000px;

    border: 2px solid #0707a3;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    
    text-align: center;
}

.open__title {
    margin-bottom: 92px;
    
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0;
}

.open__button {
    cursor: pointer;
    
    background-color: inherit;

    width: 75px;
    height: 75px;
    
    border-top: 3px solid #0707a3;
    border-right: 3px solid #0707a3;
    border-bottom: 0;
    border-left: 0;
    
    transform: translateY(-50%) rotate(135deg);
    
     transition: transform .2s linear;
}

.curs__rotate {
    

    transform:  rotate(-45deg);

}

/*course
===============================*/

.course {
    padding-bottom: 7px;
    
    position: relative;
    
    background-color: #fffae8;
    
}

.week__title {
    padding: 75px 0 80px;;
    
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0;
}

.week__title2 {
    padding: 75px 0 83px;;
    
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0;
}

.lesson {
    margin-bottom: 136px;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

.lesson:last-child {
    align-items: flex-end;
}

.lesson__title {
    display: flex;
    align-items: center;
    
    width: 39%;
    min-height: 388px;
    
    
    border: 2px solid #0707a3;
}

.lesson__title__inner {
    padding: 10px 0 10px;
    
    position: relative;
    z-index: 3;
   
    
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
}

.lesson__text {
    padding: 31px 20px 0px 58px;
    
    border: 2px solid #0707a3;
    width: 59%;
    background-color: #fffae8;
    
    position: relative;
    z-index: 3;
}

.lesson__materials {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0;
}

.materials__list {
    margin: 15px 0 0px;
    
    list-style: none;
    
}

.materials__list li {
    margin-left: -60px;
    
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
}

.materials__list li:before {
    content:  "—";
    position: relative;
    left:     -5px;
}

.lesson__exercises {
    margin-top: 30px;
    
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0;
}

.exercises__list {
    margin: 16px 0 29px;
    
    list-style: decimal;
}

.exercises__list li {
    margin-left: -39px;
    
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
}

.lesson__text p {
    margin: 17px 0 -15px;
    
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0;
}

.lesson__img1 {
    position: absolute;
    z-index: 2;
    left: 33px;
    top: 242px;
}

.lesson__img2 {
    position: absolute;
    z-index: 2;
    left: 262px;
    top: -209px;
}

.lesson__img3 {
    position: absolute;
    z-index: 2;
    left: 33px;
    top: 11px;
}

.lesson__img4 {
    position: absolute;
    z-index: 2;
    left: 115px;
    top: 167px;
}

/*offset
================================*/

.offset {
    padding-bottom: 134px;
    
    background-color: #ffd439;
}

.offset__inner {
    
}

.offset__title {
    padding: 65px 0 26px;
    
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0;
}

.offset__text {
    padding: 10px 160px 63px;
        
    text-align: center;
    font-size: 27px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0;
}

.offset__slider {
    
    display: flex;
    justify-content: space-around;
}

.offset__slider__img {
    height: 200px;
    border: 2px solid #0707a3;
}

.offset__slider__img:hover {
    transform: scale(1.7);
}

/*Warning
================================*/

.warning {
    padding: 7px 0 72px;
    
    background-color: #fffae8;
    
}

.warning__inner {

}

.warning__text {
    margin: 60px 80px 60px;
    
    text-align: center;
    font-size: 27px;
    line-height: 1.5;
}

.warning__button {
    padding: 20px 50px;
    
    background-color: #0707a3;
    
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    letter-spacing: .05em;
}

/*Reviews*/

.reviews {
    padding-bottom: 50px;
    
    background: #000 url(img/reviews.jpg)
    center no-repeat;
    background-size: cover;
    
    color: #fffae8;
}

.reviews__title {
    padding: 51px 0 0;
    
    font-weight: 400;
    text-align: center;
    font-size: 60px;
    letter-spacing: .05em;
}

.review {
    padding-top: 65px;
    padding: 65px 60px 50px;
    
    display: flex;
    justify-content: space-between;
}

.review__author {
    width: 25%;
    position: relative;
    
}

.review__photo {
    margin-bottom: 35px;
    
    outline: 2px solid #ffd439; 
    outline-offset: 20px;
    
}

.review__name {
    margin-bottom: 10px;
    position: relative;
    left: -37px;
    
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
}

.review__social {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    align-items: center;
}

.review__icon {
    margin-right: 10px;
    
    height: 24px; 
}


.review__text__fon {
    padding: 32px 16px 37px 20px;
    
    width: 74%;
    max-height: 360px;
    
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.3);
    

    outline: 2px solid #ffd439; 
    outline-offset: 20px;
}

.review__text {
    height: 100%;
    
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;
    overflow: scroll;
    font-weight: 500;

}

.review__text::-webkit-scrollbar {
    
    width: 12px;
    height: auto;
}
    

.review__text::-webkit-scrollbar-track-piece {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 2px solid #ffd439;
}

.review__text::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    
    background-color: #ffd439;
    border-radius: 3px;
}

.review__text::-webkit-scrollbar:horizontal {
    display: none;
}

/*necessary materials
=========================================*/

.necessarymaterials {
    background-color: #ffd439;
    padding-bottom: 73px;
}

.necessarymaterials__halfcircle {
    padding: 50px 0 45px;
    position: relative;
    left: 50%;
    top: -50px;
    transform: translate(-50%, 0);
    width: 1000px;

    border: 2px solid #0707a3;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    
    text-align: center;
}

.necessarymaterials__title {
    margin-bottom: 40px;
    
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
}

.necessarymaterials__text {
    padding: 10px 200px;
    
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
}

.necessarymaterials__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.necessarymaterial {
    width: 17%;
    margin-top: -115px;
    margin-bottom: 70px;
}

.necessarymaterial__icon {
    margin: 0 auto;
    text-align: center;
}

.necessarymaterial__icon img {
    height: 50px;
    margin: 0 auto;
}

.necessarymaterial__text {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
}

.necessarymaterial__warning {
    padding: 33px 50px;
    width: 55%;
    
    background-color: #fffae8;
    border: 2px solid #0707a3;
    
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5;
    
    position: relative;
}

.necessarymaterial__warning:before {
   content: "";
    background-color: #fffae8;
    
    border-top: 2px solid #0707a3;
    border-left: 2px solid #0707a3;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -26px;
    left: 30px;
    
    transform: rotate(45deg);
}     

/*Pandemic
====================================*/

.prefooter {
    position: relative;
    
    background-color: #fffae8;
}

.pandemic {
    padding: 55px 0 100px;
    position: relative;
    z-index: 10;
}

.pandemic__title {
    margin-bottom: 50px;
    
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.pandemic__text {
    margin: 0 50px 0;
    
    font-weight: 500;
    font-size: 27px;
    line-height: 1.5;
}

.pandemic__text p {
    margin-left: 40px;
}

.pandemic__text ul {
    list-style: decimal;
}

.pandemic__text li {
    margin-bottom: 15px;
}

/*Pandemic
====================================*/
.timing {
    margin: 0 auto;
    padding: 35px 50px 30px;
    position: relative;
    z-index: 10;
    
    background: transparent;
    border: 2px solid #0707a3;
    width: 59%;
    
    text-align: center;
}

.timing__title {
    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
}

.timing__text {     
    font-weight: 500;
    font-size: 27px;
    line-height: 1.5;
}

.timing__note {     
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

/*Button and Image
====================================*/
.button__and__image {
    position: relative;
    
    text-align: center;
}

.prefooter__img {
    position: absolute;
    top: -571px;
    right: -158px;
    z-index: 0;
}

.prefooter__button {
    margin: 50px 0 90px;
    padding: 20px 28px;
    
    
    position: relative;
    z-index: 10;
    background-color: #0707a3;
    border: 0;
    
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/*Contact me*/
.contact__me__title {

    font-family: 'Lora', serif;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    color: #ffd439;
}

.contact__me__form {
    margin: 70px auto 540px;
    padding: 50px 100px;
    
    width: 590px;
    background-color: #ffd439;
}

.contact__me__form__title {
    margin-bottom: 50px;
    
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 500;
}

.contact__me__form input {
    margin-bottom: 50px;
    
    width: 100%;
    border: 0;
    border-bottom: 2px solid #0707a3;
    background-color: transparent;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.contact__me__form textarea {
    margin-bottom: 48px;
    position: relative;
    z-index: 10;
    
    resize: none;
    width: 100%;
    height: 140px;
    
    border: 2px solid #0707a3; 
    background-color: #fffae8;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.contact__me__message__title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
}

.contact__me__form button {    
    width: 100%;
    padding: 17px;
    
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
 
    border: none;
    
    background-color: #0707a3;
    
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/*footer*/

.footer {
    
    
    position: relative;
    
    background-color: #fffbe8;
}

.footer__cover {
    position: absolute;
    background: #fffbe8 url(img/footer.png) center bottom/100% no-repeat;
    
    width: 100%;
 }

.brushes {
    position: absolute;
    
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer__inner {
    padding-bottom: 40px;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    color: #fffae8;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    position: relative;
}

.footer__social {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
}

.footer__social a {
    margin: 0 10px;
}